
    <div class="jumbotron">
        <h1>Hot dogs are awesome</h1>
        <p>You can manage the hot dogs on this page !</p>
		
		<p><%= infomessage %></p>

<ol>
    <% hotdogs.forEach(function(hotdog) { %>
        <section>
		<li><div><img src="<%= hotdog.image %>"></div>
		<div>
		<ul>
        <li>Name: <%= hotdog.hotdogname %></li>
		<li>Price: <%= hotdog.price %> $</li>
		<li>Description: <%= hotdog.description %></li>
		</ul>
		<button type="button" onclick="getUpdateHotdogPage(<%= hotdog.id %>)">Change the hot dog</button>
		<button type="button" onclick="deleteHotdog(<%= hotdog.id %>, <%= hotdog.name %>)">Delete the hot dog</button>
		</div></li>
	</section>
    <% }); %>
</ol>

<button onclick="getAddHotDogPage()">Add a hot dog</button>



    </div>
	

