
    <div class="jumbotron">
        <h1>Hot dogs are awesome</h1>
        <p>You can manage the hot dogs on this page !</p>
		
		<p class="message"><%= infomessage %></p>
		
		<button id="addhotdogbutton1" onclick="getAddHotDogPage()">Add a hot dog</button>

<ol>
    <% hotdogs.forEach(function(hotdog) { %>
        <section>
		<li class="hotdog"><div><img src="<%= hotdog.image %>"></div>
		<div>
		<ul>
        <li><b>Name:</b> <%= hotdog.hotdogname %></li>
		<li><b>Price:</b> <span class="price"><%= hotdog.price %> $</span></li>
		<li><b>Description:</b> <%= hotdog.description %></li><br>	
		<li><button type="button" onclick="getUpdateHotdogPage(<%= hotdog.id %>)">Update the hot dog</button></li><br>
		<li><button type="button" onclick="deleteHotdog(<%= hotdog.id %>, <%= hotdog.name %>)">Delete the hot dog</button></li>
		</ul>
		</div></li>
	</section>
    <% }); %>
</ol>





    </div>
	

