<h2>You can update the hot dog on this page</h2>

<p><%= infomessage %></p>


     
     <label>Name</label><br>
     <input type="text" name="hotDogName" id="hotDogName" pattern="[A-za-z\s]{3,}" value="<%= name %>" required><br>
	 <label>Price</label><br>
     <input type="number" name="hotDogPrice" id="hotDogPrice" value="<%= price %>" required><br>
     <label>Description</label><br>
     <textarea name="hotDogDescription" id="hotDogDescription" rows="10" cols="43" placeholder="Please, describe the hot dog." required><%= description %></textarea><br>
     <input type="hidden" name="hotDogId" id="hotDogId" value="<%= id %>" required><br><br>   
     <button class="submitBtn" onclick="updateHotdog()">Update Hot Dog</button><br>